# SPDX-License-Identifier: GPL-2.0-or-later

# This is for all ST NUCLEO with any STM32G0. Known boards at the moment:
# NUCLEO-G031K8
# https://www.st.com/en/evaluation-tools/nucleo-g031k8.html
# NUCLEO-G070RB
# https://www.st.com/en/evaluation-tools/nucleo-g070rb.html
# NUCLEO-G071RB
# https://www.st.com/en/evaluation-tools/nucleo-g071rb.html
# NUCLEO-G0B1RE
# https://www.st.com/en/evaluation-tools/nucleo-g0b1re.html

#source [find interface/stlink.cfg]
source [find OpenOCD/stlink-v2.cfg]

transport select hla_swd

#source [find target/stm32g0x.cfg]
source [find OpenOCD/stm32g0x.cfg]

reset_config srst_nogate
#reset_config srst_only srst_nogate connect_assert_srst
#reset_config srst_only srst_nogate connect_assert_srst srst_open_drain
#reset_config trst_and_srst srst_open_drain
#reset_config trst_and_srst srst_open_drain
adapter srst delay 100
