[submodule "LwSlcan"]
	path = LwSlcan
	url = S:\\git\\LwSlcan
[submodule "u32_to_hexstring"]
	path = u32_to_hexstring
	url = S:\\git\\u32_to_hexstring.git
[submodule "queue"]
	path = queue
	url = s:\\git\\Queue\\Queue.test
